/*CSS DA PARTE DO SCRIPT DAS IMAGENS PRINCIPAIS*/

body {
    background: #fff;
    width: 390px;
    color: #429EBD;
    max-width: 100%;
    padding: 10px;
    
    }

img {
    display: block;
    max-width: 100%;    
    }

.slide-items img {
    height: 250px;
    width: 370px;
    margin-bottom: 20px;
   
}

.slide {
  
    display: grid;
}

.slide-items {
    position: relative;
    grid-area: 1/1;
    border-radius: 4px;
    overflow: hidden;
}

.slide-nav {
    grid-area: 1/1;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
}

.slide-nav button {
    opacity: 0;
   }

.slide-items > * {
    opacity: 0;
    position: absolute;
    top: 0px;
    opacity: 0;
    pointer-events: none;
}

.slide-items > .active {
    position: relative;
    opacity: 1;
    pointer-events: initial;
}

.slide-balls {
    display: flex;
    grid-column: 1/3;
    }

.slide-balls > span {
    flex: 1;
    display: block;
    height: 3px;
    background: rgba(0,0,0,0.4);
    margin: 10px;
    border-radius: 3px;
    overflow: hidden;
}


.slide-balls > span.active::after {
    content: '';
    display: block;
    height: inherit;
    background-color: #fff;
    transform: translateX(-100%);
    border-radius: 3px;
    animation: balls 4s forwards linear;
}

@keyframes balls {
    to{
        transform: initial;
    }
}

/*AQUI TERMINA O CSS DAS IMAGENS*/


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,500;1,600&display=swap');
/*font-family: 'Playfair Display', serif;*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;1,400&family=Playfair+Display:ital,wght@0,600;1,500;1,600&display=swap');
/*font-family: 'IBM Plex Sans', sans-serif;*/

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.menu-logo {   
    width: 60%;
}

.proximos-eventos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 50px;  
    text-align: center; 
    text-transform: uppercase; 
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;

}

h3 {    
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    text-decoration: underline;
    cursor: pointer;    
    line-height: 25px;    
    text-align: center;
   
    }

h4 {
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.100em;
    margin-bottom: 10px;
    line-height: 1.5em;
    }

.btn-saibamais {
border: 1px solid #429EBD;
box-sizing: border-box;
border-radius: 62px;
width: 150px;
text-align: center;
color: #fff;
background: #429EBD;
cursor: point;
margin-bottom: 20px;
}

/* CSS BUTTON */ 

.middle{
   display: flex;
   align-items: center;
   justify-content: center;
  }

  .btn{
    position: relative;
    display: block;
    color: #429EBD;
    font-size: 14px;
    margin-bottom: 10px;
    border-radius: 50px;
    border: 2px solid #429EBD;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.3s all ease;
  }

  .btn:hover {
      color: #fff;
      border: #fff;
  }

  .btn::before{
    background: #429EBD;
    content: "";
    position: absolute;  
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
  }  
  .btn2::before{
    width: 150%;
    height: 0%;
  }
  .btn2:hover::before{
    height: 150%;
    color: #fff;
  }
  
  .whatsapp-btn {
      position: fixed;
      right: 1px;
      bottom: 10px;
      z-index: 2;
  }

  .nossa-comunidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-bottom: solid 2px #429EBD;
    border-radius: 5px;
    }
 
  .relatos-trilhas {
      display: grid;
      grid-template-columns: 50% 50%;
      justify-items: center;
      margin-top: 20px; 
      }

  .relatos-trilhas p{
    text-align: center;
    font-size: 20px;
    font-style: italic;
  }

  .btn-relatos {
    border: 1px solid #429EBD;
    box-sizing: border-box;
    border-radius: 62px;
    width: 180px;
    text-align: center;
    margin-bottom: 10px;
    color: #429EBD;
    cursor: pointer;
    margin-bottom: 20px;
    cursor: pointer;  
     
    }
   
    .relatos-trilhas2 {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center; 
       
    }

    .relatos-trilhas img {
        border: solid 2px #429ebd;
        border-radius: 50%;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        list-style-type: none;
        letter-spacing: 2px;
        line-height: 30px;
        background: #429EBD;
        color: #fff;
        cursor: pointer;
        height: 0px;       
        
    }

    button:focus ~ ul {
        height: 250px;
        visibility: visible;
        transition: all 0.3s ease; 
        margin-top: 20px;
    }

    button {
        border: none;
        background: #fff;
        width: 60px;
    }

    ul li {
        width: 200px;
        height: 30px;
        justify-content: flex-start;
        display: flex;
        font-family: 'IBM Plex Sans';
        font-style: italic;
        font-weight: 400;
        font-size: 13px;
        background: #429EBD;
    }

    ul li a {
        transition: all 3s ease;
    }

    ul li:hover {
        box-sizing: border-box;
        border: solid 0.5px #fff;
        width: 160px;
        height: 30px;
        justify-content: center;
        display: flex;
        border-radius: 20px;
        background-color: #fff;
        color: #429EBD;
        transition: all 0,5s ease;
    }

    a {
        text-decoration: none;
        font-family: 'IBM Plex Sans';
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        color: #fff;
      }

     
      /*CSS ESPORTES BOOTSTRAP*/

    .text-light {
        font-family: 'IBM Plex Sans', sans-serif ;
        font-weight: 500 ;
        font-style: italic;
        font-size: small;
    }
    
    .btn-info {
        background: #429ebd;
        border: none;
        width: 100px;
        color:#fff
        
    }
   

    .foto-texto {
        font-size: 18px;
        margin: 0px;
    }

    .agulhas-esportes {
        width: 150px;
        
    }

    .voolivre-esportes {
        display: flex;
        flex-direction: column;
        justify-content: center;
      
    }

    .container {        
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        margin-top: 10px;
        max-width: 100%; 
    }
    
    .voo {
        margin-bottom: 10px;
    }

    .linha {
        border-bottom: dotted 1px #429ebd;
        
    }

    .esportes-bootstrap {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
    }

    .linha-solid {
        border-bottom: solid 1px #429ebd;
        margin:10px;
    }
    
    .btn-voolivre {
        border: 1px solid #429EBD;
        box-sizing: border-box;
        border-radius: 62px;
        width: 150px;
        text-align: center;
        color: #429ebd;
        background: #fff;
        cursor: pointer;
        margin-top: 10px;
        }

    .img-border{
        border: solid 2px #429EBD;
        border-radius: 100px;
        margin-bottom: 20px;
    }

.btn-maisesportes {
    border: solid 1px #429EBD;
    border-radius: 20px;
    cursor: pointer;
    width: 300px;
    justify-self: center;
    margin: 20px;
    background: #429EBD;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.dicas-do-rio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.riodejaneiro {
    text-align: center;
    font-size: 20px;
}

.btn-rio {
    border: solid 1px #429EBD;
    border-radius: 20px;
    cursor: pointer;
    width: 300px;
    justify-self: center;
    margin: 20px;
    background: #429EBD;
    color: #fff;
    text-align: center;
    font-size: 20px;
    }
.relatodasemana {
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 5px;
    background:#053F5C;
    color: #F7AD19;
    margin-bottom: 20px;
   }

.h2-underline{
    text-decoration: underline;
}

.relatodasemana img {
       margin-bottom: 20px;
       margin-top: 0px;
   }

.background-grid {
    border-radius: 5px;
    border: solid;
    margin-right: 2px;
}

.background-grid2 {
    border-radius: 5px;
    margin-left: 2px;
    border: solid;
}

.a-links {
    display: inline-block;
    text-align:end;
    margin-top: 0px;
    padding: 0px;
    color: #F7AD19;
    margin-bottom: 10px;
    text-decoration:overline dotted;
}

.a-links-sm {
    display: inline-block;
    text-align:end;
    margin-top: 0px;
    padding: 0px;
    color: #F7AD19;
    margin-bottom: 10px;
    text-decoration:overline dotted;
    font-size: 10px;
}


.input-relatos {
    border: solid 1px #429EBD;
    border-radius: 20px;
    cursor: pointer;
    background: #429EBD;
    color: #fff;
    text-align: center;
    font-size: 20px;
    margin-left: 12px;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 5px;
}

.texto-relatos {
    border: none;
    background: none;
    outline: none;
    color: #fff;
    margin: 10px;
    transition: 0.4s;
    
}

.input-a {
    color: #fff;
}

::placeholder {
    color: #429ebd;
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    background: #fff;    
}

.logo-ff {
    display: flex;
    justify-content: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-top: 20px;
}

input {
    border: solid 1px #429ebd;
    background: #fff;
    margin: 5px;
    width: 300px;
    border-radius: 5px;
}

.formulario-tel {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
}

.formulario-mensagem {
    display: flex;
    width: 350px;
    height: 400px;    
    justify-content: center;
}

input[type="submit"]{
    background: #429ebd;
    color: #fff;
}

.instagramlink {
    
    display: grid;
    grid-template-columns: auto auto auto auto auto;    
    align-items: center;
}

button a {
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: 500;
    font-size: 15px;   
}


@media only screen and (min-width:0px) and (max-width:600px){
    .header-menudesktop {
        visibility: hidden;
        position: absolute;
        top: 20px;
    }

}

@media only screen and (min-width:600px) and (max-width:1400px){
    body{
        width:1400px;
    }
    .menu-logo {   
        width: 20%;
    }

.slide-items img {
    height: 600px;
    width: 1400px;
    margin-bottom: 20px;

}

.proximos-eventos {
        display: flex;
    }

h4 {
    font-size: 30px;
}

.btn2::before{
    width: 165%;
    height: 0%;
  }

.voo {
    width: 600px;
}

.agulhas-esportes {
    width: 500px;
}

.foto-texto {
    font-size: 30px;
}

.btn-voolivre {
    margin-bottom: 1em;
}

.riodejaneiro {
    font-size: 30px;
}

.relatos-trilhas img {
    width: 300px;
    margin: 1rem;
}

.h2-underline {
    font-size: 50px;
}

.input-relatos {
    width: 30%;
   margin-left: 23em
}

.store-menu h4 {
    letter-spacing: 1px;
}

.store-menu img {
   margin-left: 24em;
}

.meu-logo {
    width: 20%;
}

.foto-relatosemana {
    width: 300px;
   
}

.header-menu {
    visibility: hidden;
}

.header-menudesktop ul{
    display: flex;
    flex-direction: row;
    }

.header-menudesktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 10px;
   }


.nav-menudesktop a {
    font-size: 10px;
    color: #429ebd;
    font-size: 20px;
    margin:20px;
}
}
