

/*CSS DA PARTE DO SCRIPT DAS IMAGENS PRINCIPAIS*/

body {
    background: #fff;
    width: 360px;
    }

img {
    display: block;
    max-width: 100%;
}

.slide {
    max-width: 380px;
    margin: 20px auto;
    display: grid;
}

.slide-items {
    position: relative;
    grid-area: 1/1;
    border-radius: 4px;
    overflow: hidden;
}

.slide-nav {
    grid-area: 1/1;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
}

.slide-nav button {
    opacity: 0;
   }

.slide-items > * {
    opacity: 0;
    position: absolute;
    top: 0px;
    opacity: 0;
    pointer-events: none;
}

.slide-items > .active {
    position: relative;
    opacity: 1;
    pointer-events: initial;
}

.slide-balls {
    display: flex;
    grid-column: 1/3;
    }

.slide-balls > span {
    flex: 1;
    display: block;
    height: 3px;
    background: rgba(0,0,0,0.4);
    margin: 5px;
    border-radius: 3px;
    overflow: hidden;
}


.slide-balls > span.active::after {
    content: '';
    display: block;
    height: inherit;
    background-color: #fff;
    transform: translateX(-100%);
    border-radius: 3px;
    animation: balls 4s forwards linear;
}

@keyframes balls {
    to{
        transform: initial;
    }
}

/*AQUI TERMINA O CSS DAS IMAGENS*/

.cabecalho {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.menu-logo {
width: 146px;
height: 40px;
}

.proximos-eventos {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}